@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @use postcss-preset-env; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins';
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: orange;
  padding: 10px 20px;
  z-index: 100;
}
header input {
  padding: 10px 20px;
  border-radius: 10px;
}
header div {
  display: flex;
  gap: 10px;
}

header div button {
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
header div button:nth-child(1) {
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
}
header div button:nth-child(2) {
  background-color: rgb(0, 64, 255);
}
header div button:nth-child(3) {
  background-color: rgb(255, 0, 0);
}
.category-wrapper {
  padding: 30px;
}
.categories {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;
}
.category {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.category img {
  width: 100%;
  border-radius: 10px;
}
.category span {
  position: absolute;
  bottom: 10px;
  background-color: white;
  width: 70%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
}
/* ÜRÜNLER */

.products-wrapper {
  padding: 30px;
}
.products {
  display: flex;
  margin-top: 30px;
  gap: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product {
  max-width: 250px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.product img {
  width: 100%;
  border-radius: 10px;
}
.product-title {
}
.product-category {
}

.product-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  padding: 5px;
  color: white;
  border-radius: 10px;
}
.product-action p {
}
.product-action button {
  background-color: rgb(255, 200, 0);
  color: white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.4s;
}
.product-action button:hover {
  background-color: chocolate;
  transition: all 0.4s;
}

#modal-wrapper {
position: fixed;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.243);
z-index: 1000;
height: 100vh;
width: 100vw;
display: grid;
place-items: center;
display: none;
}

#modal {
  width: 50vw;
  height: 60vh;
  background-color: white;
  border-radius: 10px;

}

